#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --clr-red: rgb(255, 0, 0);
  --clr-black: rgb(0, 0, 0);
  --clr-gold: rgb(255, 204, 0);
  --clr-steel: rgb(173, 173, 175);
}

body {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}
